<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>brugere</title>
</head>
<body>

<div>
    <table>
        <thead>
        <tr>
            <th>navn</th>
            <th>rolle</th>
            <th>rediger</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}">NAVN</td>
            <td th:text="${employee.role}">ROLLE</td>
            <td th:text="${employee.name}">REDIGER</td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>