*, html {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0px;
    background-color: #f2f2f2;
}

#content {
    margin: 0 auto;
    width: 80%;
    flex: auto;
}

.content {
    margin: 0 auto;
    width: 80%;
    flex: auto;
}

table{
    margin: auto;
    border-collapse: collapse;
    border-spacing: 30px;
    width: 580px;

}

/*styles for table header (colours picked from their primary website)*/
th{
    border: 1px solid black;
    text-align: center;
    font-family: "sans-serif Bold";
    color: #1892c3;
    background-color: #f2f2f2;
    padding: 2px;
}

td{
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}

.tdsize {
    padding: 4px;
}

/*style for table row (with every 2nd being coloured)*/
tr:nth-child(even){
    background-color: #cccccc;

}

ul {
     list-style-type: none;
     margin: 0 5% 0 5%;
     padding: 0;
     overflow: hidden;
     background-size: cover;
     background: #1892c3;
 }

li {
    float:left;
    background: #1892c3;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    background-size: cover;
}

/* TODO: MÅSKE FJERNES!!!
/* styles for list-link HOVER elements*/
li a:hover {
    background-color: rgb(56, 173, 152);
}


h1 {
    text-align: center;
}

/* TODO: MÅSKE FJERNES!!!-*/
.big-div {
    margin: 0 5% 0 5%;
}

#formdiv{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.div-w-form



table-div{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

}
#optionalsdiv{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* TODO: MÅSKE FJERNES!!!-*/
#narrow-div {
    margin: 0 20% 0 20%;
    padding: 4%;
}


#login-div {
    text-align: center;
    border: 1px solid black;
}

input, select {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 4px;
    border: 4px solid #1892c3;
}

button {
    border-radius: 9px;
    font-weight: bold;
    border: 4px solid #1892c3;
    color: #1892c3;
    padding: 3px 14px;
}

/* TODO: MÅSKE FJERNES!!!-*/
.bluebackground {
    background: rgba(24, 146, 195, 0.3);
}


/* TODO: MÅSKE FJERNES!!!-*/
footer{
    bottom: 0;
    background-color: rgba(255,2555,255,0.3);
    left: 0;
    height: 100px;
    overflow: auto;
    margin: 0 5% 0 5%;
}

/* TODO: MÅSKE FJERNES!!!-*/
.footer-text{
    text-align: center;
    height: auto;
    padding: 10px;
    margin: 2px;
}

.deletesize {
    padding: 3px;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.red-error-color {
    color: red;
}