<header class="nav-bar" th:fragment="header" th:switch="${employeeRole}">
    <img class="logo"
         src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_448/v1/Logos/BILABONNEMENT_rgb_mmahqw.png"
         alt="BilabonnementLogo">

    <div class="nav-bar-section">
        <h3 th:text="|${employeeName} - ${employeeID} ID - ${employeeRole.danish}|"></h3>
    </div>


    <div th:case="ADMINISTRATION" class="nav-bar-section">
        <a th:href="@{/damage-reports}">
            <button>skade rapporter</button>
        </a>
    </div>

    <div th:case="DAMAGE_REPORTER" class="nav-bar-section">
        <a th:href="@{/damage-reports}">
            <button>skade rapporter</button>
        </a>
        <a th:href="@{/create-damage-report}">
            <button>opret skaderapport</button>
        </a>

        <a th:href="@{/checkout-cars}">
            <button>check biler</button>
        </a>
    </div>

    <div th:case="DATA_REGISTRATION" class="nav-bar-section">
        <a th:href="@{/damage-reports}">
            <button>opret leasingkontrakt</button>
        </a>
        <a th:href="@{/view-cars}">
            <button>biler</button>
        </a>
        <a th:href="@{/customers}">
            <button>kunder</button>
        </a>
    </div>

    <div th:case="BUSINESS_DEVELOPER" class="nav-bar-section">
        <a th:href="@{/finance}">
            <button>finansiering</button>
        </a>
    </div>

    <div>
        <a id="logout" th:href="@{/logout}">
            <button class="btn-logout">log ud</button>
        </a>
    </div>

</header>