<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Finans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"content="I. Justino, D. Dam, M. Baiocchi, V. Bistrup Frydkjær">
    <link rel="stylesheet" th:href="business-developer.css" href="business-developer.css">
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<div class="finance-info">
    <div class="tab-container">
        <section>
            <h1>Finansinfo</h1>
            <div class="mini-padding">
                <h4>Biler som er klar til udlejning</h4>
                <p th:text="${numberOfLeasedCars}"></p>
            </div>
            <div class="mini-padding">
                <h4>Biler som er udlejet:</h4>
                <p th:text="${activeContractsCount}"></p>
            </div>
            <div class="mini-padding">
                <h4>Månedlig indkomst:</h4>
                <p th:text="${currentIncome}"></p>
            </div>
        </section>
    </div>
</div>

<div class="columns">
    <div class="column">
        <h2>Uden aktiv leasing</h2>

        <table>
            <thead>
            <tr>
                <th>Vognnummer</th>
                <th>Stelnummer</th>
                <th>Stålpris</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Udstyrsniveau</th>
                <th>Reg. Afgift</th>
                <th>CO2-udledning</th>
                <th>Status</th>
                <th>Kontrator</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(unleased_cars)}"> <!-- no items listed -->
                <td>INGEN BILER</td>
            </tr>
            <tr th:each="unleased_car : ${unleased_cars}">
                <td><span th:text="${unleased_car.vehicleID}">Vognnummer</span></td>
                <td><span th:text="${unleased_car.chassisNumber}">Stelnummer</span></td>
                <td><span th:text="${unleased_car.steelPrice}">Stålpris</span></td>
                <td><span th:text="${unleased_car.brand}">Mærke</span></td>
                <td><span th:text="${unleased_car.model}">Model</span></td>
                <td><span th:text="${unleased_car.equipmentLevel}">Udstyrsniveau</span></td>
                <td><span th:text="${unleased_car.registrationFee}">Reg. Afgift</span></td>
                <td><span th:text="${unleased_car.co2emission}">CO2-udledning</span></td>
                <td><span th:text="${unleased_car.state.danish}">Status</span></td>
                <td>
                    <a th:href="@{'/car-lease-contracts?vehicleID='+${unleased_car.vehicleID}}">
                        <button class="btn-view">Se</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="column">
        <h2>Aktiv leasing</h2>

        <table>
            <thead>
            <tr>
                <th>Vognnummer</th>
                <th>Stelnummer</th>
                <th>Stålpris</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Udstyrsniveau</th>
                <th>Reg. Afgift</th>
                <th>CO2-udledning</th>
                <th>Status</th>
                <th>Kontrator</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(leased_cars)}"> <!-- no items listed -->
                <td>INGEN BILER</td>
            </tr>
            <tr th:each="leased_car : ${leased_cars}">
                <td><span th:text="${leased_car.vehicleID}">Vognnummer</span></td>
                <td><span th:text="${leased_car.chassisNumber}">Stelnummer</span></td>
                <td><span th:text="${leased_car.steelPrice}">Stålpris</span></td>
                <td><span th:text="${leased_car.brand}">Mærke</span></td>
                <td><span th:text="${leased_car.model}">Model</span></td>
                <td><span th:text="${leased_car.equipmentLevel}">Udstyrsniveau</span></td>
                <td><span th:text="${leased_car.registrationFee}">Reg. Afgift</span></td>
                <td><span th:text="${leased_car.co2emission}">CO2-udledning</span></td>
                <td><span th:text="${leased_car.state.danish}">Status</span></td>
                <td>
                    <a th:href="@{'/car-lease-contracts?vehicleID='+${leased_car.vehicleID}}">
                        <button class="btn-view">Se</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>