<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>opret lejeaftale</title>
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>

<header th:replace="fragment/nav-menu.html :: header"></header>

<body>

<div class="columns">

    <div class="column">
        <h1>Opret lejeaftale</h1>
        <hr>
        <br>
        <div id="formdiv">
            <form action="/make_contract" method="post">
                <label for="startDate">Startdato:</label><br>
                <input type="date" name="startDate" id="startDate" th:value="${date}" required><br>
                <label for="endDate">Slutdato:</label><br>
                <input type="date" name="endDate" id="endDate" th:value="${date}" required><br>
                <label for="monthlyPrice">Månedlig Pris:</label><br>
                <input type="price" name="monthlyPrice" id="monthlyPrice" placeholder="0.00" required><br>
                <label for="customerID">Kunde ID:</label><br>
                <select name="customerID" id="customerID"><br>
                    <option th:each="customer: ${customers}"
                            th:value="${customer.customerID}"
                            th:text="|${customer.customerID}|">
                    </option>
                </select><br>
                <label for="vehicleID">Vognnummer:</label><br>
                <select name="vehicleID" id="vehicleID" required><br>
                    <option th:each="car: ${UnleasedReadyCars}"
                            th:value="${car.vehicleID}"
                            th:text="|${car.vehicleID} klar uden aktiv leasing|">
                    </option>
                </select><br>
                <label for="employeeID">Medarbejder ID:</label><br>
                <select name="vehicleID" id="employeeID" required><br>
                    <option th:value="${employeeID}"
                            th:text="|${employeeID} - ${employeeName} - standard|"
                            selected="selected">
                    </option>
                    <option th:each="employee: ${employees}"
                            th:value="${employee.employeeID}"
                            th:text="|${employee.employeeID} - ${employee.name}|">
                    </option>
                </select><br><br>
                <br>
                <table>
                    <tr>
                        <th colspan="4">
                            Ekstra udstyr til bilen
                        </th>
                    </tr>
                    <tr>
                        <th>Tryk for at tilføje udstyr</th>
                        <th>Ekstra udstyr</th>
                        <th>pris per måned</th>
                    </tr>
                    <tr th:each="optionals : ${optionals}">
                        <td>
                            <input th:name="${optionals.optionalID}" type="checkbox"
                                   th:value="${optionals.optionalID}"/>
                        </td>
                        <td th:text="${optionals.name}"></td>
                        <td th:text="${optionals.pricePrMonth}"></td>
                    </tr>
                </table>
                <button style="float: right" type="submit">send</button>

                <br>
            </form>
        </div>
    </div>

    <div class="column">
        <table>
            <tr>
                <th colspan="11">
                    Leasingaftaler
                </th>
            </tr>
            <tr>
                <th>Lease ID</th>
                <th>Startdato</th>
                <th>Slutdato</th>
                <th>Månedlig Pris</th>
                <th>Kunde ID</th>
                <th>Vognnummer</th>
                <th>Medarbejder ID</th>
                <th>Tilvalg antal</th>
                <th>Tilvalg Sum</th>
                <th>Rediger</th>
                <th>Delete</th>
            </tr>
            <tr th:each="contract, iter_stat : ${leaseContracts}">
                <td th:text="${contract.leaseID}"></td>
                <td th:text="${contract.startDate}"></td>
                <td th:text="${contract.endDate}"></td>
                <td th:text="${contract.monthlyPrice}"></td>
                <td th:text="${contract.customerID}"></td>
                <td th:text="${contract.vehicleID}"></td>
                <td th:text="${contract.employeeID}"></td>
                <td th:text="${leaseOptionalAmounts[iter_stat.index][0]}"></td>
                <td th:text="${leaseOptionalAmounts[iter_stat.index][1]}"></td>
                <td>
                    <form method="get" action="/edit-lease-contract">
                        <input type="hidden" name="leaseID" th:value="${contract.leaseID}">
                        <input type="submit" value="edit">
                    </form>
                </td>
                <td>
                    <form method="post" action="/delete-lease-contract">
                        <input type="submit" value="delete">
                        <input type="hidden" name="leaseID" th:value="${contract.leaseID}">
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>