<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">>
<head>
    <meta charset="UTF-8">
    <title>Kundekartotek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"content="I. Justino, D. Dam, M. Baiocchi, V. Frydkjær">
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<div class="columns">

    <div>
        <h2>opret kunde</h2>
        <form action="/create-customer" method="post">
            <label for="firstName">Fornavn:</label><br>
            <input type="text" id="firstName" name="firstName" required><br>
            <label for="lastName">Efternavn:</label><br>
            <input type="text" id="lastName" name="lastName" required><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" required><br>
            <label for="address">Adresse:</label><br>
            <input type="text" id="address" name="address" required><br>
            <label for="city">By:</label><br>
            <input type="text" id="city" name="city" required><br>
            <label for="postalCode">Postnr:</label><br>
            <input type="number" id="postalCode" name="postalCode" required><br>
            <label for="mobile">Mobil:</label><br>
            <input type="text" id="mobile" name="mobile" required><br>
            <label for="cprNumber">CPR nummer:</label><br>
            <input type="text" id="cprNumber" name="cprNumber" maxlength="12" required><br>
            <button type="update">Opret</button>
        </form>
    </div>

    <div>
        <h2>Kunder</h2>

        <table>
            <thead>
            <tr>
                <th>Kunde ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>city</th>
                <th>Postnr</th>
                <th>Mobil</th>
                <th>CPR nummer</th>
                <th th:if="${employeeRole == 'DATA_REGISTRATION'}">Rediger</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(customers)}"> <!-- no items listed -->
                <td>INGEN KUNDER</td>
            </tr>
            <tr th:each="customer : ${customers}">
                <td><span th:text="${customer.customerID}">Kunde ID</span></td>
                <td><span th:text="${customer.firstName}">Fornavn</span></td>
                <td><span th:text="${customer.lastName}">Efternavn</span></td>
                <td><span th:text="${customer.email}">Email</span></td>
                <td><span th:text="${customer.address}">Adresse</span></td>
                <td><span th:text="${customer.city}">City</span></td>
                <td><span th:text="${customer.postalCode}">Postnr</span></td>
                <td><span th:text="${customer.mobile}">Mobil</span></td>
                <td><span th:text="${customer.cprNumber}">CPR Nummer</span></td>
                <td th:if="${employeeRole == 'DATA_REGISTRATION'}">
                    <a th:href="@{'/edit-customer?customerID='+${customer.customerID}}">
                        <button class="btn-view">Rediger</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>