<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>biler</title>

    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<div class="content">

    <h1>alle biler</h1>

    <div class="columns">
        <div>
            <h2>uden aktiv leasing</h2>

            <table>
                <thead>
                <tr>
                    <th>vogn ID</th>
                    <th>stelnummer</th>
                    <th>stålpris</th>
                    <th>mærke</th>
                    <th>model</th>
                    <th>udstyrsniveau</th>
                    <th>reg. Afgift</th>
                    <th>CO2-udledning</th>
                    <th>status</th>
                    <th>rediger</th>
                    <th>rapporter</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(unleasedCars)}"> <!-- no items listed -->
                    <td>IGEN BILER</td>
                </tr>
                <tr th:each="unleasedCar : ${unleasedCars}">
                    <td><span th:text="${unleasedCar.vehicleID}">vogn ID</span></td>
                    <td><span th:text="${unleasedCar.chassisNumber}">stelnummer</span></td>
                    <td><span th:text="${unleasedCar.steelPrice}">stålpris</span></td>
                    <td><span th:text="${unleasedCar.brand}">mærke</span></td>
                    <td><span th:text="${unleasedCar.model}">model</span></td>
                    <td><span th:text="${unleasedCar.equipmentLevel}">udstyrsniveau</span></td>
                    <td><span th:text="${unleasedCar.registrationFee}">reg. Afgift</span></td>
                    <td><span th:text="${unleasedCar.co2emission}">CO2-udledning</span></td>
                    <td>
                        <form action="#" th:action="@{/update-car-state}" method="post">
                            <select name="state" onchange="this.form.submit()"><br>
                                <option th:value="${unleasedCar.state}"
                                        th:text="|${unleasedCar.state.danish} - nuværende|"
                                        selected="selected">
                                </option>
                                <option th:each="state: ${states}"
                                        th:value="${state}"
                                        th:text="|${state.danish}|">
                                </option>
                            </select>
                            <input type="hidden" th:value="${unleasedCar.vehicleID}" name="vehicleID">
                        </form>
                    </td>
                    <td>
                        <a th:href="@{'/edit-car?vehicleID='+${unleasedCar.vehicleID}}">
                            <button class="btn-view">REDIGER</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/car-lease-contracts?vehicleID='+${unleasedCar.vehicleID}}">
                            <button class="btn-view">SE</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>aktiv leasing</h2>

            <table>
                <thead>
                <tr>
                    <th>vogn ID</th>
                    <th>stelnummer</th>
                    <th>stålpris</th>
                    <th>mærke</th>
                    <th>model</th>
                    <th>udstyrsniveau</th>
                    <th>reg. Afgift</th>
                    <th>CO2-udledning</th>
                    <th>status</th>
                    <th>rediger</th>
                    <th>rapporter</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(unleasedCars)}"> <!-- no items listed -->
                    <td>IGEN BILER</td>
                </tr>
                <tr th:each="leasedCar : ${leasedCars}">
                    <td><span th:text="${leasedCar.vehicleID}">vogn ID</span></td>
                    <td><span th:text="${leasedCar.chassisNumber}">stelnummer</span></td>
                    <td><span th:text="${leasedCar.steelPrice}">stålpris</span></td>
                    <td><span th:text="${leasedCar.brand}">mærke</span></td>
                    <td><span th:text="${leasedCar.model}">model</span></td>
                    <td><span th:text="${leasedCar.equipmentLevel}">udstyrsniveau</span></td>
                    <td><span th:text="${leasedCar.registrationFee}">reg. Afgift</span></td>
                    <td><span th:text="${leasedCar.co2emission}">CO2-udledning</span></td>
                    <td>
                        <form action="#" th:action="@{/update-car-state}" method="post">
                            <select name="state" onchange="this.form.submit()"><br>
                                <option th:value="${leasedCar.state}"
                                        th:text="|${leasedCar.state.danish} - nuværende|"
                                        selected="selected">
                                </option>
                                <option th:each="state: ${states}"
                                        th:value="${state}"
                                        th:text="|${state.danish}|">
                                </option>
                            </select>
                            <input type="hidden" th:value="${leasedCar.vehicleID}" name="vehicleID">
                        </form>
                    </td>
                    <td>
                        <a th:href="@{'/edit-car?vehicleID='+${leasedCar.vehicleID}}">
                            <button class="btn-view" id="btn-view">REDIGER</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/car-lease-contracts?vehicleID='+${leasedCar.vehicleID}}">
                            <button class="btn-view">SE</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>