<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">>
<head>
    <meta charset="UTF-8">
    <title>Bilkartotek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"content="I. Justino, D. Dam, M. Baiocchi, V. Bistrup Frydkjær">
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<div id="content">

    <h1>Alle biler</h1>

    <div class="columns">
        <div>
            <h2>Uden aktiv leasing</h2>

            <table>
                <thead>
                <tr>
                    <th>Vognnummer</th>
                    <th>Stelnummer</th>
                    <th>Stålpris</th>
                    <th>Mærke</th>
                    <th>Model</th>
                    <th>Udstyrsniveau</th>
                    <th>Reg. Afgift</th>
                    <th>CO2-udledning</th>
                    <th>Status</th>
                    <th>Rediger</th>
                    <th>Rapporter</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(unleasedCars)}"> <!-- no items listed -->
                    <td>INGEN BILER</td>
                </tr>
                <tr th:each="unleasedCar : ${unleasedCars}">
                    <td><span th:text="${unleasedCar.vehicleID}">Vognnummer</span></td>
                    <td><span th:text="${unleasedCar.chassisNumber}">Stelnummer</span></td>
                    <td><span th:text="${unleasedCar.steelPrice}">Stålpris</span></td>
                    <td><span th:text="${unleasedCar.brand}">Mærke</span></td>
                    <td><span th:text="${unleasedCar.model}">Model</span></td>
                    <td><span th:text="${unleasedCar.equipmentLevel}">Udstyrsniveau</span></td>
                    <td><span th:text="${unleasedCar.registrationFee}">Reg. Afgift</span></td>
                    <td><span th:text="${unleasedCar.co2emission}">CO2-udledning</span></td>
                    <td>
                        <form action="#" th:action="@{/update-car-state}" method="post">
                            <select name="state" onchange="this.form.submit()"><br>
                                <option th:value="${unleasedCar.state}"
                                        th:text="|${unleasedCar.state.danish} - nuværende|"
                                        selected="selected">
                                </option>
                                <option th:each="state: ${states}"
                                        th:value="${state}"
                                        th:text="|${state.danish}|">
                                </option>
                            </select>
                            <input type="hidden" th:value="${unleasedCar.vehicleID}" name="vehicleID">
                        </form>
                    </td>
                    <td>
                        <a th:href="@{'/edit-car?vehicleID='+${unleasedCar.vehicleID}}">
                            <button class="btn-view">Rediger</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/car-lease-contracts?vehicleID='+${unleasedCar.vehicleID}}">
                            <button class="btn-view">Se</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Aktiv leasing</h2>

            <table>
                <thead>
                <tr>
                    <th>Vognnummer</th>
                    <th>Stelnummer</th>
                    <th>Stålpris</th>
                    <th>Mærke</th>
                    <th>Model</th>
                    <th>Udstyrsniveau</th>
                    <th>Reg. Afgift</th>
                    <th>CO2-udledning</th>
                    <th>Status</th>
                    <th>Rediger</th>
                    <th>Rapporter</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(unleasedCars)}"> <!-- no items listed -->
                    <td>INGEN BILER</td>
                </tr>
                <tr th:each="leasedCar : ${leasedCars}">
                    <td><span th:text="${leasedCar.vehicleID}">Vognnummer</span></td>
                    <td><span th:text="${leasedCar.chassisNumber}">Stelnummer</span></td>
                    <td><span th:text="${leasedCar.steelPrice}">Stålpris</span></td>
                    <td><span th:text="${leasedCar.brand}">Mærke</span></td>
                    <td><span th:text="${leasedCar.model}">Model</span></td>
                    <td><span th:text="${leasedCar.equipmentLevel}">Udstyrsniveau</span></td>
                    <td><span th:text="${leasedCar.registrationFee}">Reg. Afgift</span></td>
                    <td><span th:text="${leasedCar.co2emission}">CO2-udledning</span></td>
                    <td>
                        <form action="#" th:action="@{/update-car-state}" method="post">
                            <select name="state" onchange="this.form.submit()"><br>
                                <option th:value="${leasedCar.state}"
                                        th:text="|${leasedCar.state.danish} - nuværende|"
                                        selected="selected">
                                </option>
                                <option th:each="state: ${states}"
                                        th:value="${state}"
                                        th:text="|${state.danish}|">
                                </option>
                            </select>
                            <input type="hidden" th:value="${leasedCar.vehicleID}" name="vehicleID">
                        </form>
                    </td>
                    <td>
                        <a th:href="@{'/edit-car?vehicleID='+${leasedCar.vehicleID}}">
                            <button class="btn-view" id="btn-view">Rediger</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/car-lease-contracts?vehicleID='+${leasedCar.vehicleID}}">
                            <button class="btn-view">Se</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>