<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>damage report</title>
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<div id="content">
    <h1>skaderapport</h1>

    <form action="/update-damage-report" method="post">
        <label for="damageReportID">rapport ID:</label><br>
        <input type="text" name="damageReportID" th:value="${damageReport.damageReportID}" readonly><br>
        <label for="employeeID">medarbejder ID:</label><br>
        <input type="text" name="employeeID" th:value="${damageReport.employeeID}" readonly><br>
        <label for="vehicleID">vogn ID:</label><br>
        <select name="vehicleID"><br>
            <option th:value="${damageReport.vehicleID}"
                    th:text="|${damageReport.vehicleID} - nuværende|"
                    selected="selected">
            </option>
            <option th:each="car: ${cars}"
                    th:value="${car.vehicleID}"
                    th:text="|${car.vehicleID} - uden aktiv leasing|">
            </option>
        </select><br>
        <label for="timestamp">timestamp:</label><br>
        <input type="datetime-local" name="timestamp" th:value="${damageReport.timestamp}">
        <button type="update">opdater</button>
    </form>

    <h3>tilføj skade</h3>

    <form action="/create-damage-entry" method="post">
        <label for="skade">skade</label><br>
        <input type="text" name="skade" required><br>
        <label for="beskrivelse">beskrivelse</label><br>
        <input type="text" name="beskrivelse" required><br>
        <label for="pris">pris</label><br>
        <input type="number" name="pris" required><br>
        <input type="hidden" name="damage-report-id" th:value="${damageReport.damageReportID}"><br>
        <button type="submit">create</button>
    </form>

    <h3>damages</h3>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>skade</th>
            <th>beskrivelse</th>
            <th>pris</th>
            <th>fjern</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${damageEntries}">
            <td th:text="${entry.damageEntryID}"></td>
            <td th:text="${entry.damageTitle}"></td>
            <td th:text="${entry.damageDescription}"></td>
            <td th:text="${entry.damagePrice}"></td>
            <td>
                <a th:href="@{'/delete-entry?entryID='+${entry.damageEntryID}+'&reportID='+${damageReport.damageReportID}}">
                    <button class="btn-delete" id="btn-delete">slet</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>