<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all biler</title>
</head>
<body>

<h1>Lav skaderapport</h1>


<div>
    <h3>leasede biller</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>start date</th>
            <th>end date</th>
            <th>vehicleID</th>
        </tr>
        <tr th:each="contract : ${leaseContracts}">
            <td th:text="${contract.leaseID}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.endDate}"></td>
            <td th:text="${contract.vehicleID}"></td>
        </tr>
    </table>
</div>


</body>
</html>