<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<nav><ul class="morepink">
    <li><a href="/"title="refresh the page?">A Menu</a></li>
    <li><a href="create-lease-contract.html" title="Registrer lejeaftale">Registrer lejeaftale?</a></li>
    <li><a href="buisness-developer/business-developer.html" title="Forretningsudvikler">Forretningsudvikler</a></li>
    <li><a href="damage-registrator/create-damage-report.html" title="Registrer skaderapport">Registrer skaderapport</a></li>

</ul></nav>

</body>
</html>