<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<nav><ul class="morepink">
    <li><a href="/"title="refresh the page?">A Menu</a></li>
    <li><a href="data-registration.html" title="Registrer lejeaftale">Registrer lejeaftale?</a></li>
    <li><a href="business-developer.html"title="Forretningsudvikler">Forretningsudvikler</a></li>
    <li><a href="damageRegistrator/damage-report.html" title="Registrer skaderapport">Registrer skaderapport</a></li>

</ul></nav>

</body>
</html>