<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="business-developer.css" href="business-developer.css">
</head>
<body>
    <header class="nav-bar">
        <h1>Finansudvikling</h1>
        <img class="logo" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1/Mailing/logo-symbol_2_b9b3ka.png" alt="BilabonnementLogo">
        <form action="/logout">
            <button>Log-Out</button>
        </form>
    </header>
    <div class="main_body">
        <div class="tab-container">
            <section>
                <h3>User info</h3>
                <div class="mini-padding">
                    <h4>Name: </h4>
                    <p th:text="${nameOfUser}"></p>
                </div>
                <div class="mini-padding">
                    <h4>ID: </h4>
                    <p th:text="${idOfUser}"></p>
                </div>
                <div class="mini-padding">
                    <h4>Email: </h4>
                    <p th:text="${emailOfUser}"></p>
                </div>
            </section>
            <section>
                <h3>Finance info</h3>
                <div class="mini-padding">
                    <h4>Amount of leased cars:</h4>
                    <p th:text="${numberOfLeasedCars}"></p>
                </div>
                <div class="mini-padding">
                    <h4>Currently projected income:</h4>
                    <p th:text="${currentIncome}"></p>
                </div>
            </section>
    </div>
</body>
</html>