<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>finansiering</title>
    <link rel="stylesheet" th:href="business-developer.css" href="business-developer.css">
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<div class="main_body">
    <div class="tab-container">
        <section>
            <h3>User info</h3>
            <div class="mini-padding">
                <h4>Name: </h4>
                <p th:text="${nameOfUser}"></p>
            </div>
            <div class="mini-padding">
                <h4>ID: </h4>
                <p th:text="${idOfUser}"></p>
            </div>
            <div class="mini-padding">
                <h4>Email: </h4>
                <p th:text="${emailOfUser}"></p>
            </div>
        </section>
        <section>
            <h3>Finance info</h3>
            <div class="mini-padding">
                <h4>Amount of leased cars:</h4>
                <p th:text="${numberOfLeasedCars}"></p>
            </div>
            <div class="mini-padding">
                <h4>Currently projected income:</h4>
                <p th:text="${currentIncome}"></p>
            </div>
        </section>
    </div>

    <div class="column-div">
        <div>
            <h2>uden aktiv leasing</h2>

            <table>
                <thead>
                <tr>
                    <th>vogn ID</th>
                    <th>stelnummer</th>
                    <th>stålpris</th>
                    <th>mærke</th>
                    <th>model</th>
                    <th>udstyrsniveau</th>
                    <th>reg. Afgift</th>
                    <th>CO2-udledning</th>
                    <th>status</th>
                    <th>kontrator</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(unleasedCars)}"> <!-- no items listed -->
                    <td>IGEN BILER</td>
                </tr>
                <tr th:each="unleasedCar : ${unleasedCars}">
                    <td><span th:text="${unleasedCar.vehicleID}">vogn ID</span></td>
                    <td><span th:text="${unleasedCar.chassisNumber}">stelnummer</span></td>
                    <td><span th:text="${unleasedCar.steelPrice}">stålpris</span></td>
                    <td><span th:text="${unleasedCar.brand}">mærke</span></td>
                    <td><span th:text="${unleasedCar.model}">model</span></td>
                    <td><span th:text="${unleasedCar.equipmentLevel}">udstyrsniveau</span></td>
                    <td><span th:text="${unleasedCar.registrationFee}">reg. Afgift</span></td>
                    <td><span th:text="${unleasedCar.co2emission}">CO2-udledning</span></td>
                    <td><span th:text="${unleasedCar.state.danish}">status</span></td>
                    <td>
                        <a th:href="@{'/car-lease-contracts?vehicleID='+${unleasedCar.vehicleID}}">
                            <button class="btn-view">SE</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>aktiv leasing</h2>

            <table>
                <thead>
                <tr>
                    <th>vogn ID</th>
                    <th>stelnummer</th>
                    <th>stålpris</th>
                    <th>mærke</th>
                    <th>model</th>
                    <th>udstyrsniveau</th>
                    <th>reg. Afgift</th>
                    <th>CO2-udledning</th>
                    <th>status</th>
                    <th>kontrator</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(leasedCars)}"> <!-- no items listed -->
                    <td>IGEN BILER</td>
                </tr>
                <tr th:each="leasedCar : ${leasedCars}">
                    <td><span th:text="${leasedCar.vehicleID}">vogn ID</span></td>
                    <td><span th:text="${leasedCar.chassisNumber}">stelnummer</span></td>
                    <td><span th:text="${leasedCar.steelPrice}">stålpris</span></td>
                    <td><span th:text="${leasedCar.brand}">mærke</span></td>
                    <td><span th:text="${leasedCar.model}">model</span></td>
                    <td><span th:text="${leasedCar.equipmentLevel}">udstyrsniveau</span></td>
                    <td><span th:text="${leasedCar.registrationFee}">reg. Afgift</span></td>
                    <td><span th:text="${leasedCar.co2emission}">CO2-udledning</span></td>
                    <td><span th:text="${leasedCar.state.danish}">status</span></td>
                    <td>
                        <a th:href="@{'/car-lease-contracts?vehicleID='+${leasedCar.vehicleID}}">
                            <button class="btn-view">SE</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>