<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">>
<head>
    <meta charset="UTF-8">
    <title>Leases for bil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"content="I. Justino, D. Dam, M. Baiocchi, V. Bistrup Frydkjær">
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<div id="content">
    <h1>Lejeaftaler</h1>

    <div class="table-div">
        <table>
            <tr>
                <th colspan="9">
                    Kommende
                </th>
            </tr>
            <tr>
                <th>Lease ID</th>
                <th>Start Dato</th>
                <th>Slut Dato</th>
                <th>Månedlig Pris</th>
                <th>Kunde ID</th>
                <th>Vognnummer</th>
                <th>Medarbejder ID</th>
            </tr>
            <tr th:each="contract : ${upcoming_contracts}">
                <td th:text="${contract.leaseID}"></td>
                <td th:text="${contract.startDate}"></td>
                <td th:text="${contract.endDate}"></td>
                <td th:text="${contract.monthlyPrice}"></td>
                <td th:text="${contract.customerID}"></td>
                <td th:text="${contract.vehicleID}"></td>
                <td th:text="${contract.employeeID}"></td>
            </tr>
        </table>
    </div>

    <div class="table-div">
        <table>
            <tr>
                <th colspan="9">
                    Aktive
                </th>
            </tr>
            <tr>
                <th>Lease ID</th>
                <th>Start Dato</th>
                <th>Slut Dato</th>
                <th>Månedlig Pris</th>
                <th>Kunde ID</th>
                <th>Vognnummer</th>
                <th>Medarbejder ID</th>
            </tr>
            <tr th:each="contract : ${active_contracts}">
                <td th:text="${contract.leaseID}"></td>
                <td th:text="${contract.startDate}"></td>
                <td th:text="${contract.endDate}"></td>
                <td th:text="${contract.monthlyPrice}"></td>
                <td th:text="${contract.customerID}"></td>
                <td th:text="${contract.vehicleID}"></td>
                <td th:text="${contract.employeeID}"></td>
            </tr>
        </table>
    </div>

    <div class="table-div">
        <table>
            <tr>
                <th colspan="9">
                    Passerede
                </th>
            </tr>
            <tr>
                <th>Lease ID</th>
                <th>Start Dato</th>
                <th>Slut Dato</th>
                <th>Månedlig Pris</th>
                <th>Kunde ID</th>
                <th>Vognnummer</th>
                <th>Medarbejder ID</th>
            </tr>
            <tr th:each="contract : ${passed_contracts}">
                <td th:text="${contract.leaseID}"></td>
                <td th:text="${contract.startDate}"></td>
                <td th:text="${contract.endDate}"></td>
                <td th:text="${contract.monthlyPrice}"></td>
                <td th:text="${contract.customerID}"></td>
                <td th:text="${contract.vehicleID}"></td>
                <td th:text="${contract.employeeID}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>