<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>damage report</title>
    <link rel="stylesheet" href="damage.css">
</head>
<body>

<div id="content">


    <h1>Indtast damages</h1>

    <form action="/makeContract" method="post" id>
        <label for="leaseID">lease ID:</label><br>
        <input type="number" name="leaseID" required><br>
        <label for="vehicleID">vogn ID:</label><br>
        <input type="text" name="vehicleID" required><br>
        <label for="timestamp">timestamp:</label><br>
        <input type="datetime-local" name="datetime" th:value="${currentTime}">
        <button type="submit">create</button>
    </form>

    <div id="horizontal_tables">
        <!--    leaseContracts-->



        <!--    damageReports-->
        <div>
            <h3>damages</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>timestamp</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                <tr th:each="report : ${damageReports}">
                    <td th:text="${report.id}"></td>
                    <td th:text="${report.timestamp}"></td>
                    <td th:text="${report.leaseID}"></td>
                    <td th:text="${report.vehicleID}"></td>
                </tr>
            </table>
        </div>

</div>

</body>
</html>