<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>damage report</title>
    <link rel="stylesheet" href="damage.css">
</head>
<body>

<div id="content">


    <h1>Lav skaderapport</h1>

    <form action="/create_damage_report" method="post" id>
        <label for="leaseID">lease ID:</label><br>
        <input type="number" name="leaseID" required><br>
        <label for="vehicleID">vogn ID:</label><br>
        <input type="text" name="vehicleID" required><br>
        <label for="timestamp">timestamp:</label><br>
        <input type="datetime-local" name="datetime" th:value="${currentTime}">
        <button type="submit">create</button>
    </form>

    <div id="horizontal_tables">
        <!--    leaseContracts-->
        <div>
            <h3>lease contracts</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>start date</th>
                    <th>end date</th>
                    <th>vehicleID</th>
                </tr>
                <tr th:each="contract : ${leaseContracts}">
                    <td th:text="${contract.leaseID}"></td>
                    <td th:text="${contract.startDate}"></td>
                    <td th:text="${contract.endDate}"></td>
                    <td th:text="${contract.vehicleID}"></td>
                </tr>
            </table>
        </div>


        <!--    damageReports-->
        <div>
            <h3>damage reports</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>timestamp</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                <tr th:each="report : ${damageReports}">
                    <td th:text="${report.id}"></td>
                    <td th:text="${report.timestamp}"></td>
                    <td th:text="${report.leaseID}"></td>
                    <td th:text="${report.vehicleID}"></td>
                    <!--    PathVariables and Autowired til senere brug, hvis nødvendigt form.
                            <td>
                                      <a th:href="@{'/viewUser/'+${user.usrID}}">
                                          <a th:href="@{'/damage-entry/'+${report.id}}">
                                              <button class="btn-view" id="btn-view">View report</button>
                                          </a>
                    </td>-->
                    <td>
                        <form method="POST" action="/delete-damage-report">
                            <input type="submit" value="Delete">
                            <input type="hidden" name="reportID" th:value="${report.id}">
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        </table>
    </div>

</div>

</body>
</html>