<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<h1>Lav lejeaftale</h1>

<form action="/makeContract" method="post">
  <label for="startDate">Startdato:</label><br>
    <input type="date" name="startDate"><br>
    <label for="endDate">Slutdato:</label><br>
    <input type="date" name="endDate"><br>
  <label for="monthlyPrice">Monthly price:</label><br>
  <input type="text" name="monthlyPrice"><br><br>
  <button type="submit">Indsend</button>
</form>

</body>
</html>