<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>opret lejeaftale</title>
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>

<header th:replace="fragment/nav-menu.html :: header"></header>

<body>
<div id="content">

    <!--    create new contract -->
    <h1>Opret lejeaftale</h1>
    <hr>
    <br>
    <div id="formdiv">
        <form action="/make_contract" method="post">
            <label for="start_date">Startdato:</label><br>
            <input type="date" name="start_date" th:value="${date}" required><br>
            <label for="end_date">Slutdato:</label><br>
            <input type="date" name="end_date" th:value="${date}" required><br>
            <label for="monthly_price">Månedlig Pris:</label><br>
            <input type="text" name="monthly_price" required><br>
            <label for="customer_id">Kunde ID:</label><br>
            <select name="customer_id"><br>
                <option th:each="customer: ${customers}"
                        th:value="${customer.customer_id}"
                        th:text="|${customer.customer_id}|">
                </option>
            </select><br>
            <label for="vehicle_id">Vognnummer:</label><br>
            <select name="vehicle_id"><br>
                <option th:each="car: ${cars}"
                        th:value="${car.vehicle_id}"
                        th:text="|${car.vehicle_id}|">
                </option>
            </select><br>
            <label for="employee_id">Medarbejder ID:</label><br>
            <input type="text" name="employee_id" th:value="${employee_id}" readonly><br><br>
            <br>
            <div th:each="option : ${optionals}">
                <div>
                    <input th:name="${option.optionalID}" type="checkbox" th:value="${option.optionalID}"/>
                    <label th:for="${option.optionalID}" th:text="${option.name}"></label>
                </div>
            </div>


            <div id="optionaldiv">
                <table>
                    <tr>
                        <th colspan="4">
                            Ekstra udstyr til bilen
                        </th>
                    </tr>
                    <tr>
                        <th>Tryk for at tilføje udstyr</th>
                        <th>Ekstra udstyr</th>
                        <th>pris per måned</th>
                        <th><input type="checkbox" name="optional all" value="Optional all"><br><br>
                        </th>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
            <button style="float: right" type="submit">send</button>
            <br>
        </form>

    </div>
    <!--   <br>
   <div id="optionaldiv">
       <table>
           <tr><th colspan="3">
               Ekstra udstyr til bilen </th></tr>
           <tr>
               <th>Tryk for at tilføje udstyr</th>
               <th>Ekstra udstyr</th>
               <th>pris per måned</th>
           </tr>-->
    <!--        <tr th:each="contract : ${leaseContracts}">
                <td th:text="${contract.leaseID}"></td>
                <td th:text="${contract.startDate}"></td>
                <td th:text="${contract.endDate}"></td>
                <td th:text="${contract.vehicleID}"></td>
                <td th:text="${contract.customerID}"></td>
                <td th:text="${contract.monthlyPrice}"></td>

                         <form>
                         <label for="optional1"> optional1</label>
                            <input type="checkbox" id="optional1" name="optional1" value="optional1">
                            <input type="hidden" name="leaseID" th:value="${contract.leaseID}">
                        </form>

            </tr>-->
    </table>
</div>
<br><br><br>
<hr>
<br><br><br>
<div id="tablediv">
    <!--    leaseContracts-->
    <table>
        <tr>
            <th colspan="9">
                Leasingaftaler
            </th>
        </tr>
        <tr>
            <th>Lease ID</th>
            <th>Startdato</th>
            <th>Slutdato</th>
            <th>Månedlig Pris</th>
            <th>Kunde ID</th>
            <th>Vognnummer</th>
            <th>Medarbejder ID</th>
            <th>Optionals antal </th>
            <th>Optionals Sum</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="contract : ${leaseContracts}">
            <td th:text="${contract.leaseID}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.endDate}"></td>
            <td th:text="${contract.monthlyPrice}"></td>
            <td th:text="${contract.customerID}"></td>
            <td th:text="${contract.vehicleID}"></td>
            <td th:text="${contract.employeeID}"></td>
            <td><!--
                <a th:href="@{'/edit-leasecontract/'+${user.usrID}}">
                    <button class="btn-edit" id="btn-edit">Edit user</button></a>
                    -->
                <form method="get" action="/edit-leasecontract">
                    <input type="hidden" name="leaseID" th:value="${contract.leaseID}">
                    <input type="submit" value="Edit">
                </form>
                <!--  <form method="POST" action="@{'/edit-leasecontract?id='+${contract.leaseID}}">
                      <input type="submit" value="Edit">
                      <input type="hidden" name="leaseID" th:value="${contract.leaseID}">
                  </form>-->
            </td>


            <td>
                <form method="post" action="/delete-lease_contract">
                    <input type="submit" value="delete">
                    <input type="hidden" name="lease_id" th:value="${contract.lease_id}">
                </form>
            </td>
        </tr>
    </table>
</div>

</body>

</html>