<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content">
  <!--    create new contract -->
  <h1> ændre lejeaftale</h1><hr><br>
  <div id="formdiv">

    <form action="/edit-leasecontract" method="post">
      <label for="startDate">ny Startdato:</label><br>
      <input  type="date" name="startDate" th:value="${contract.startDate}" ><br>
      <label for="endDate">ny Slutdato:</label><br>
      <input type="date" name="endDate" th:value="${contract.endDate}" ><br>
      <label for="monthlyPrice"> ny pris per måned:</label><br>
      <input type="text" name="monthlyPrice" th:value="${contract.monthlyPrice}" ><br>
      <label for="customerID"> Kunde ID:</label><br>
      <input type="text" name="customerID"  th:value="${contract.customerID}" ><br>
      <label for="vehicleID">Vognnummer:</label><br>
      <input type="text" name="vehicleID" th:value="${contract.vehicleID}" ><br>
      <label for="employeeId">Medarbejder ID:</label><br>
      <input type="text" name="employeeID" th:value="${contract.employeeID}" ><br><br>
      <br>
      <div id="optionaldiv">
        <table>
          <tr>
            <th colspan="4">
            Ekstra udstyr til bilen </th>
          </tr>
          <tr>
            <th>tilføj udstyr</th>
            <th>Ekstra udstyr</th>
            <th>pris per måned</th>
            <th><input type="checkbox" name="optional all" value="Optional all"><br><br>
            </th>
          </tr>
          <tr>
          </tr>
        </table>
      </div>
      <a th:href="@{'/edit-leasecontract'}">
        <button class="btn-view" id="btn-view">edit contract</button>
      </a>

      <!--<button style="float: right" type="submit">send</button>-->
      <br>
    </form>


  </div>
</div>

</body>
</html>