<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="mystyle.css">
    <meta name="description" content="Bilabonnementet intranet">
    <meta name="keywords" content="Bilabonnement intranet, skaderapporter, overvaagning af salg">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"content="I. Justino, Daniel Dam, Mikas Baiocchi, Veronica Bistrup Frydkjær">
    <meta http-equiv="refresh" content="1200">
</head>
<body>
<nav><ul class="morepink">
    <li><a href="/"title="refresh the page?">A Menu</a></li>
    <li><a href="PLACEHOLDER"title="PLACEHOLDER">Tabs?</a></li>
    <li><a href="PLACEHOLDER"title="PLACEHOLDER">Skal vi have links ? PlaceHOLDER </a></li>
</ul></nav>


<div class="midter-div pink">
    <div id="smal-midterdiv" class="pink">
        <h1>Intranet Registrering</h1><br>
        <br><h2 style="text-align:center;">Der kan gå op til 24 timer inden Deres registrering er godkendt fra system admin</h2><br>
        <div id="login-div">
            <br>
            <h2>Registrering af medarbejder </h2><br>
            <form action="/mypage" method="post">
                <label for="email">E-Mail:</label><br>
                <input type="text" name="email" required maxlength="80" minlength="6" autofocus><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" required maxlength="50" minlength="8"><br>
                <button type="submit">Submit</button>
            </form>
            <br><h2> LOGIN </h2>
            <form action="/login" method="post">
                <label for="email">E-Mail:</label><br>
                <input type="text" name="email" required maxlength="60"><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" minlength="8" required><br><br>
                <button type="submit">Submit</button>
            </form>
            <br><br><br>
        </div>
    </div>

    <br><br><br><br><br><br><br>

</div>

</body>
</html>