<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="login.css">
  <meta name="description" content="Bilabonnementet intranet">
  <meta name="keywords" content="Bilabonnement intranet, skaderapporter, overvaagning af salg">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author"content="I. Justino, Daniel Dam, Mikas Baiocchi, Veronica Bistrup Frydkjær">
  <meta http-equiv="refresh" content="1200">
  <title>Login</title>
</head>

<body>
<div>
  <main>
    <section class="login-box">
      <div class="login-box-flex">
        <header class="oevre-box">
          <div class="upper-div"></div>
          <img class="logo" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1/Mailing/logo-symbol_2_b9b3ka.png" alt="Mit Bilabonnement">

          <h1>Velkommen</h1>
          <div>
            <p>Log på Mit Bilabonnement for at fortsætte til MitBilabonnement.
            </p>
          </div>
        </header>

        <div class="div-w-form">
          <form action="/login" method="POST" class="form-margin">
            <div>
              <div>
                <div class="input-div-margin">
                  <div class="textfelt-class1 textfelt-class2" data-action-text="" data-alternate-action-text="">

                    <input class="input" inputmode="email" name="username" id="username" type="text" required="" autocomplete="username" autocapitalize="none" spellcheck="false" autofocus placeholder="E-mailadresse" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mailadresse'">
                  </div>
                </div>

                <div class="input-div-margin">
                  <div class="textfelt-class1 textfelt-class2" data-action-text="" data-alternate-action-text="">
                    <input class="input" name="password" id="password" type="password" required="" autocomplete="current-password" autocapitalize="none" spellcheck="false" placeholder="Adgangskode">
                  </div>
                </div>
              </div>
            </div>
            <p class="glemt-password">
              <a class="glemt-password-link" href="/u/reset-password/request/Username-Password-Authentication?state=hKFo2SBoRGNfT243ODgwb2xPZU0taG83ZUlxU2JsUWVUMUdWU6Fur3VuaXZlcnNhbC1sb2dpbqN0aWTZIE11U1JoWG9mVi1fWml5clUyNEV2UzJxempGUFJocmtuo2NpZNkgbmFBYzVuWEx1SEllVXdNdmFkdXh6RnRocmNySmV1U0Q">Har du glemt din adgangskode?
              </a>
            </p>
            <div>
              <button type="submit" name="action" value="default" class="button button-color">Fortsæt</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</div>

</body>
</html>