<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">>
<head>
    <meta charset="UTF-8">
    <title>Bil gennemgang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"content="I. Justino, D. Dam, M. Baiocchi, V. Frydkjær">
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<h1>Bil gennemgang</h1>

<div class="columns">
    <div>
        <table>
            <thead>
            <tr>
                <th colspan="11" th:text="|returnerede biler uden aktiv leasing for ${date}|"></th>
            </tr>
            <tr>
                <th>Vognnummer</th>
                <th>Stelnummer</th>
                <th>Stålpris</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Udstyrsniveau</th>
                <th>Reg. Afgift</th>
                <th>CO2-udledning</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="unleasedReturnedCar : ${unleasedReturnedCars}">
                <td><span th:text="${unleasedReturnedCar.vehicleID}">vognnummer</span></td>
                <td><span th:text="${unleasedReturnedCar.chassisNumber}">stelnummer</span></td>
                <td><span th:text="${unleasedReturnedCar.steelPrice}">stålpris</span></td>
                <td><span th:text="${unleasedReturnedCar.brand}">mærke</span></td>
                <td><span th:text="${unleasedReturnedCar.model}">model</span></td>
                <td><span th:text="${unleasedReturnedCar.equipmentLevel.danish}">udstyrsniveau</span></td>
                <td><span th:text="${unleasedReturnedCar.registrationFee}">reg. Afgift</span></td>
                <td><span th:text="${unleasedReturnedCar.co2emission}">CO2-udledning</span></td>
                <td>
                    <form action="#" th:action="@{/update-damage-state}" method="post">
                        <select name="state" onchange="this.form.submit()"><br>
                            <option th:value="${unleasedReturnedCar.state}"
                                    th:text="|${unleasedReturnedCar.state.danish} - nuværende|"
                                    selected="selected">
                            </option>
                            <option th:each="state: ${states}"
                                    th:value="${state}"
                                    th:text="|${state.danish}|">
                            </option>
                        </select>
                        <input type="hidden" th:value="${unleasedReturnedCar.vehicleID}" name="vehicleID">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <span th:if="${#lists.isEmpty(unleasedReturnedCars)}"> <!-- no items listed -->
            INGEN BILER
        </span>
    </div>
</div>

</body>
</html>