<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>damage report</title>
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<div id="content">

    <h1>Lav skaderapport</h1>

    <form action="/create-new-damage-report" method="post">
        <label for="employeeID">medarbejder id:</label><br>
        <input type="text" id="employeeID" name="employeeID" th:value="${employeeID}" readonly><br>
        <label for="vehicleID">vogn id:</label><br>
        <select name="vehicleID" id="vehicleID"><br>
            <option th:each="car: ${cars}" th:value="${car.vehicleID}"
                    th:text="|id: ${car.vehicleID}, ${car.brand}, ${car.model}|"></option>
        </select><br>
        <label for="timestamp">timestamp:</label><br>
        <input type="datetime-local" id="timestamp" name="datetime" th:value="${currentTime}">
        <button type="submit">create</button>
    </form>

    <div>
        <h3>mine skaderapporter</h3>
        <table>
            <tr>
                <th>rapport ID</th>
                <th>medarbejder ID</th>
                <th>timestamp</th>
                <th>vogn ID</th>
                <th>rediger</th>
                <th>slet</th>
            </tr>
            <tr th:each="report : ${damageReports}">
                <td th:text="${report.damageReportID}"></td>
                <td th:text="${report.employeeID}"></td>
                <td th:text="${report.timestamp}"></td>
                <td th:text="${report.vehicleID}"></td>
                <td>
                    <a th:href="@{'/edit-damage-report?reportID='+${report.damageReportID}}">
                        <button class="btn-view" id="btn-view">REDIGER</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/delete-damage-report?returnPage=create-damage-report&reportID='+${report.damageReportID}}">
                        <button class="btn-delete" id="btn-delete">SLET</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>


</div>

</body>
</html>