<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Skaderapportering</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"content="I. Justino, D. Dam, M. Baiocchi, V. Bistrup Frydkjær">
    <meta http-equiv="refresh" content="1200">
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<div id="content">

    <h1>Lav skaderapport</h1>
    <hr>
    <form action="/create-new-damage-report" method="post">
        <label for="employeeID">Medarbejder id:</label><br>
        <select name="employeeID" id="employeeID" required><br>
            <option th:value="${employeeID}"
                    th:text="|${employeeID} - ${employeeName} - mig|"
                    selected="selected">
            </option>
            <option th:each="employee: ${employees}"
                    th:value="${employee.employeeID}"
                    th:text="|${employee.employeeID} - ${employee.name} - ${employee.role.danish}|">
            </option>
        </select><br><br><
        <label for="vehicleID">Vognnummer:</label><br>
        <select name="vehicleID" id="vehicleID"><br>
            <option th:each="car: ${cars}" th:value="${car.vehicleID}"
                    th:text="|id: ${car.vehicleID}, ${car.brand}, ${car.model}|"></option>
        </select><br>
        <label for="timestamp">Timestamp:</label><br>
        <input type="datetime-local" id="timestamp" name="datetime" th:value="${currentTime}">
        <button type="submit">Opret</button>
    </form>

    <div>

        <table>
            <th colspan="6">Mine Skadesrapporter</th>
            <tr>
                <th>Rapport ID</th>
                <th>Medarbejder ID</th>
                <th>Timestamp</th>
                <th>Vognnummer</th>
                <th>Rediger</th>
                <th>Slet</th>
            </tr>
            <tr th:each="report : ${damageReports}">
                <td th:text="${report.damageReportID}"></td>
                <td th:text="${report.employeeID}"></td>
                <td th:text="${report.timestamp}"></td>
                <td th:text="${report.vehicleID}"></td>
                <td>
                    <a th:href="@{'/edit-damage-report?reportID='+${report.damageReportID}}">
                        <button class="btn-view" id="btn-view">Rediger</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/delete-damage-report?returnPage=create-damage-report&reportID='+${report.damageReportID}}">
                        <button class="btn-delete" id="btn-delete">Slet</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>


</div>

</body>
</html>