<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>damage report</title>
    <link rel="stylesheet" th:href="@{/fragment/nav-menu.css}">
    <link rel="stylesheet" th:href="@{/base.css}">
</head>
<body>

<header th:replace="fragment/nav-menu.html :: header"></header>

<h1>Skadesrapport</h1>

<div class="columns">

    <div class="column">
        <form action="/update-damage-report" method="post">
            <label for="damageReportID">Skadesrapport ID:</label><br>
            <input type="text" name="damageReportID" id="damageReportID" th:value="${damageReport.damageReportID}" readonly><br>
            <label for="employeeID">Medarbejder ID:</label><br>
            <input type="text" name="employeeID" id="employeeID" th:value="${damageReport.employeeID}" readonly><br>
            <label for="vehicleID">Vogn ID:</label><br>
            <select name="vehicleID" id="vehicleID"><br>
                <option th:value="${damageReport.vehicleID}"
                        th:text="|${damageReport.vehicleID} - nuværende|"
                        selected="selected">
                </option>
                <option th:each="car: ${cars}"
                        th:value="${car.vehicleID}"
                        th:text="|${car.vehicleID} - uden aktiv leasing|">
                </option>
            </select><br>
            <label for="timestamp">Timestamp:</label><br>
            <input type="datetime-local" id="timestamp" name="timestamp" th:value="${damageReport.timestamp}">
            <button type="update">Opdater</button>
        </form>

        <h3>Tilføj skade</h3>

        <form action="/create-damage-entry" method="post">
            <label for="skade">Skade</label><br>
            <input type="text" name="skade" id="skade" required><br>
            <label for="beskrivelse">Beskrivelse af skade</label><br>
            <input type="text" name="beskrivelse" id="beskrivelse" required><br>
            <label for="pris">Pris</label><br>
            <input type="price" name="pris" id="pris" placeholder="0.00" required><br>
            <input type="hidden" name="damage-report-id" th:value="${damageReport.damageReportID}"><br>
            <button type="submit">Create</button>
        </form>
    </div>

    <div class="column">
        <h3>Skader</h3>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Skade</th>
                <th>Beskrivelse</th>
                <th>Pris</th>
                <th>Slet</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="entry : ${damageEntries}">
                <td th:text="${entry.damageEntryID}"></td>
                <td th:text="${entry.damageTitle}"></td>
                <td th:text="${entry.damageDescription}"></td>
                <td th:text="${entry.damagePrice}"></td>
                <td>
                    <a th:href="@{'/delete-entry?entryID='+${entry.damageEntryID}+'&reportID='+${damageReport.damageReportID}}">
                        <button class="btn-delete" id="btn-delete">Slet</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <span th:if="${#lists.isEmpty(damageEntries)}">INGEN SKADE TILFØJET</span>
    </div>

</div>

</body>
</html>