body {
    margin: 0;
    background-color: #f2f2f2;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: white;
}

.tab-container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    width: 100%;
    border-radius: 5px;
    background-color: #77cbef;
}

p {
    font-family: Calibri, sans-serif;
    /*sans-serif som default font gør at browsere selv vælger
       en sans-serif font de understøtter, hvis ikke de understøtter den ellers valgte font her*/
}

.logo {
    height: 75%;
    padding-left: 4em;
}

header h1 {
    font-family: monospace;
}

.mini-padding {
    padding: 5px;
}

h3 {
    font-family: Ebrima, sans-serif;
}

section {
    border: 2px dotted #77afef;
    display: flex;
    padding: 10px;
    flex: 1;
    flex-direction: column;
}

section h3 {
    text-align: center;

}

.nav-bar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    margin: 0.5em;
}

#logout {
    padding-right: 4em;
}